* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    border: 0.1px solid gainsboro;
    box-shadow: none;
    outline: none;
}

.form-control:focus {
    box-shadow: none;
}

/* Important part */
.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 70vh;
    overflow-y: auto;
}