* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.error {
    color: red;
}

#nav-top {
    background-color: #FFA401;
    border: groove 1em red;
    border-radius: 0.5em 0.5em 1.5em 1.5em;
}

nav ul li a {
    color: #945801;
    font-weight: 600;
    font-size: 14px;
}

nav ul li a:hover {
    color: #130B01;
}

#collapse-btn {
    border: solid 2px #945801;
}

#content {
    margin-top: 100px;
}

#carousel-title {
    font-weight: bold;
    color: #FFA401;
}

#carousel-slogan {
    color: #FFA401;
    font-style: italic;
    font-weight: 500;
}

#introduce-title {
    color: #FFA401;
}

.main-title {
    color: #FFA401;
}

hr.hr-1 {
    background-color: #FFA401;
}

.introduce-content-item {
    min-height: 230px;
    max-height: 250px;
    max-width: 300px;
    font-size: 14px;
    border: solid 0.5px #FFA401;
    font-weight: 500;
}

#introduce-content>.row>.introduce-content-item:nth-child(1) {
    background-color: #FAFBD3;
}

#introduce-content>.row>.introduce-content-item:nth-child(2) {
    background-color: #FFFE01;
}

#introduce-content>.row>.introduce-content-item:nth-child(3) {
    background-color: #FFA17B;
}

#introduce-content>.row>.introduce-content-item:nth-child(4) {
    background-color: #FFA401;
}

.card-bd {
    border: solid 0.1px #DFDFDF;
}

.card-btn-form {
    height: 40px;
    background-color: #F6F6F7;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn-form .row {
    width: 125%;
}

.card-btn {
    background-color: #FEA501;
    display: inline-block;
    height: 30px;
    max-height: 30px;
    font-weight: bold;
    padding: 0;
    border: none;
}

.card-bd-top {
    background-color: #FEA501;
    height: 20px;
    min-height: 50px;
}

.card-clicked {
    background-color: #FEC106;
}

.card-bd-top>h5 {
    height: 20px;
    line-height: 20px;
    margin: 0;
}

.sub-text {
    font-weight: bold;

}

.card hr {
    margin-top: 8px;
}

.price {
    font-size: 30px;
}

.last-hr {
    margin-bottom: 5px;
}

.card-deck {
    margin-top: 20px;
}

.sub-card {
    border: none;
    max-width: 0px;
}

.pizza-type-bd .title {
    font-size: 18px;
    font-weight: bold;
}

.pizza-type-bd .content {
    font-size: 14px;
}

.card-type-btn {
    width: 90%;
}

#drink-select {
    height: 30px;
    outline: none;
    border-radius: 12px;
}

#send-order-btn {
    background-color: #FFA401;
    font-weight: bold;
}

#nav-bottom {
    background-color: #FFA401;
}

#detail-modal {
    display: block;
    height: 120px;
}

#alert-success-modal-content {
    border: solid #808080 20px;
    background-color: #FFA500;
}

.alert-success-modal-content-title {
    border: none;
}